/target/
/nitrite-datagate-standalone/target/
/nitrite-datagate/target/
/nitrite-datagate-standalone-javaee/target/
/nitrite-datagate-spring-boot/target/
/nitrite-datagate-javaee/target/
/nitrite-datagate-impl/target/
/nitrite-datagate-api/target/